:root {
  --font-family: 'Inter', sans-serif;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 32px;
}

body {
  font-family: var(--font-family);
  font-size: var(--text-md);
  color: var(--color-text-primary);
}